*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.button {
  height: 90px;
  width: 290px;
  font-size: 28px;
  color: white;
  border: none;
  background-color: blue;
  border-radius: 15px;
  margin: 10px 0 0 15px;
  transition: all 0.5s;

  &:hover {
    background-color: green;
  }
}
